body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header, footer {
    width: 100%;
    text-align: center;
    background-color: #f8f8f8;
    padding: 1em;
}

header h1 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    gap: 20px;
}

.input-section, .output-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 50%;
}

textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#encryptButton {
    background-color: #007bff;
    color: white;
}

#decryptButton {
    background-color: #fff;
    border: 1px solid #007bff;
    color: #007bff;
}

.note {
    font-size: 12px;
    color: #555;
}

.output-section {
    position: relative;
    width: 100%;
    max-width: 50%;
}

#outputContainer {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

#placeholderImage {
    max-width: 100%;
    height: auto;
}

#outputText {
    font-size: 16px;
    word-wrap: break-word;
    display: none;
}

#copyButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* Estilos responsivos */
@media (max-width: 1200px) {
    main {
        flex-direction: column;
    }

    .input-section, .output-section {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    textarea {
        height: 150px;
    }

    button {
        padding: 10px 15px;
        font-size: 14px;
    }

    #outputContainer {
        padding: 5px;
    }

    #outputText {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    textarea {
        height: 100px;
    }

    button {
        padding: 8px 10px;
        font-size: 12px;
    }

    #outputText {
        font-size: 12px;
    }
}

