/* Importación de fuentes de Google */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primario: #EFF1FA;
    --color-secundario: #FFFFFF;
    --color-terciario: #0A3871;
    --color-cajas: #EFF1FA;

    --color-botones: #0A3871;
    --color-botones2: #FFFFFF;

    --color-texto: #0A3871;
    --color-texto2: #FFFFFF;

    --fuente-principal: 'Montserrat', sans-serif;
    --fuente-secundaria: 'Krona One', sans-serif;
}

body {
    font-family: var(--fuente-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: var(--color-primario);
}

header, footer {
    width: 100%;
    text-align: center;
    background-color: var(--color-secundario);
    padding: 1em;
    color: var(--color-texto);
}

header h1 {
    margin: 0;
    font-family: var(--fuente-secundaria);
}

main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--color-secundario);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 40px;
    width: 100%;
    max-width: 1200px;
}

.seccion_entrada, .seccion_salida {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 45%;
    gap: 20px;
}

textarea {
    background-color: var(--color-cajas);
    color: var(--color-texto);
    width: 100%;
    height: 200px;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botones {
    display: flex;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#boton_encriptar {
    background-color: var(--color-botones);
    color: var(--color-texto2);
}

#boton_desencriptar {
    background-color: var(--color-botones2);
    border: 1px solid var(--color-botones);
    color: var(--color-botones);
}

.nota {
    font-size: 12px;
    color: #555;
}

.seccion_salida {
    position: relative;
    width: 100%;
    max-width: 45%;
}

#placeholderImage {
    width: 100%;
    height: auto;
}

#outputContainer {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--color-cajas);
    text-align: center;
    display: none;
}

#outputText {
    font-size: 16px;
    word-wrap: break-word;
}

#copyButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--color-botones);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    main {
        flex-direction: column;
        padding: 20px;
    }

    .seccion_entrada, .seccion_salida {
        max-width: 100%;
    }

    textarea {
        height: 150px;
    }

    button {
        padding: 10px 15px;
        font-size: 14px;
    }
}

